.imgcont{
    width: 250px;
}
.foractionbuttons2{
     display: flex;
    gap: 20px;
   
    align-items: center;
    padding-top: 20px;
   
}
@media (max-width: 1200px) {


    .imgcont {
        width: 120px;
    }
}
@media (max-width: 700px) {


    .imgcont {
        width: 70px;
    }
}