.inputsCont{
    width: 85%;
    display: flex;
height: auto;
padding: 32px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 10px;
background: white;
box-shadow: 0 4px 12px 0 rgba(196, 202, 224, 0.59);

}
.fordata{
    display: flex;

flex-direction: column;
gap: 16px;
}
.sectionOne{
       display: flex;

flex-direction: column;
gap: 20px;
}
.forpartwithimg{
     display: flex;

flex-direction: column;
gap: 0px;
}

@media (max-width: 600px) {

   .titlewinput {
    width: 80% ;
}
.inputs{
        width: 480px !important;
}
}

@media (max-width: 1400px) {
    .inputs {
        width: 360px !important;
    }
    .inputsCont {

    padding-left: 24px;}
}