body{
    margin: 0;
    background: #F1F3FB;
}
.nabarwithmain{
    display: flex;
}
.mainBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 80px 0px;
}
.titlewsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.searchcont{
    border-radius: 88px;
border: 1px solid var(--Stroke, #E8E8E8);
background: var(--White, #FFF);
width: 564px;
height: 52px;
padding-left: 20px;
}
::placeholder{
    color:  #A9A9A9;
font-family: poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}