body{
    margin: 0;
    background: #F1F3FB;
}
.nabarwithmain{
    display: flex;
}
.mainBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 80px 0px;
        margin-left: 256px;
}
.titlewsearch{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 52px;
    width: 73%;
}
.searchcont{
    border-radius: 88px;
border: 1px solid var(--Stroke, #E8E8E8);
background: var(--White, #FFF);
width: 48%;
height: 52px;
padding-left: 20px;
}
::placeholder{
    color:  #A9A9A9;
font-family: poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.forstatCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.titlewsection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recentprojectsDiv{
    display: flex;
width: 979px;
height: 287px;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 362px;
border-radius: 10px;
background: #FFF;
box-shadow: 0 4px 12px 0 rgba(196, 202, 224, 0.59);
}