.inputs2sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section1inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profilesettingdiv{
    display: flex;
width: 1154px;
height: 752px;
padding: 25px 25px 25px 41px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 30px;
border-radius: 10px;
border: 1px solid #CACACA;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(215, 217, 226, 0.41);
}