.logintext{
    color: #FBF5F5;
font-family: poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.loginButton{
    display: flex;
    width: 504px;
height: 68px;

justify-content: center;
align-items: center;
border-radius: 5px;
background: #2D39B8;
}


@media (max-width: 700px) {

.loginButton{
    width: 444px;
}
}