.navbar{
    width: 255px;
height: 100vh;
background: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
    justify-content: start;
    position: fixed;
    z-index: 100;

}
.formargintop{
    margin-top: 230px;
}


@media (max-width: 1200px) {

  .navbar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background: white;
  }

  .navbar.active {
    transform: translateX(0);
  }

  .burger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    cursor: pointer;
    z-index: 999;
    background: white;
    padding: 8px 12px;
    border-radius: 8px;
  }
}
