.navbar{
    width: 255px;
height: 100vh;
background: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
    justify-content: start;
    position: fixed;
    z-index: 100;

}
.formargintop{
    margin-top: 230px;
    margin-top: auto;
}
.dropdown-container {
  cursor: pointer;
}

.dropdown-menu {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-menu p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
  color: #6B7280;
font-family: poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: 0.5s ease;
}
.dropdown-menu p:hover{
  color: #014AB6;


}

@media (max-width: 1200px) {

  .navbar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background: white;
  }

  .navbar.active {
    transform: translateX(0);
  }

  .burger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    cursor: pointer;
    z-index: 999;
    background: white;
    padding: 8px 12px;
    border-radius: 8px;
  }
}
