.navlink{
    color: #6B7280;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navlink:hover{
    color: #014AB6
}
.iconwithnavlink{
    width: 205px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: 0.5s ease;
}
.iconwithnavlink:hover{
  background: rgba(1, 74, 182, 0.10);
}
.iconwithnavlink:hover .navlink{
     color: #014AB6
}
.navicon:hover{
 color: #014AB6
}