.statCard{
    display: flex;
    width: 250px;
    height: 175px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
 border-radius: 10px;
background: #FFF;
box-shadow: 0 4px 12px 0 rgba(127, 130, 141, 0.15);   
}
.statTitle{
color: #052651;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;

}
.statNumber{
color: #2D39B8;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}

@media (max-width: 600px) {
    .statCard{
        width: 90%;
    }
}