.strokebutton{
    display: flex;
width: 175px;
height: 50px;
border-radius: 4.326px;
border: 1px solid #014AB6;
justify-content: center;
align-items: center;
gap: 8px;
transition: 0.5s ease;

}
.strokebtext{
    color: #014AB6;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.strokebutton:hover{
 background: #014AB6;

}
.strokebutton:hover .strokebtext{
 color: white;

}
.strokebutton:hover .plusicon{
 content: url(../assets/hoverplus.svg);

}